{% extends 'main/base.html' %}

{% block title %} Лучший сотрудник {% endblock %}

{% block content %}

<div class="classWithPad">
<table class="table">
    <tbody>
        <tr>
            <th scope="row">ФИО</th>
            <td colspan="2">Виноградов Дмитрий Александрович</td>
        </tr>
        <tr>
            <th scope="row">Должность</th>
            <td colspan="2">Начальник штаба</td>
        </tr>
        <tr>
            <th scope="row">Дом.адрес</th>
            <td colspan="2">866087, Магаданская область, город Кашира, пр. Бухарестская, 01</td>
        </tr>
        <tr>
            <th scope="row">Телефон</th>
            <td colspan="2">+64 (458) 494-87-95</td>
        </tr>
        <tr>
            <th scope="row">e-mail</th>
            <td colspan="2">bester@icloud.com</td>
        </tr>
      </tbody>
  </table>
</div>

{% endblock %}